.card{
    box-shadow: 1px 2px 2px 2px rgba(20,20,20,0.4);
}
.cardTitle{
    font-size: 20px;
    font-family: Montserrat sans-serif;
    color: #203562;
    font-weight: 500;
}
.notesCard{
  display: grid;
  grid-gap:1rem;
  width: 100vw;
  height: 30vh;
  margin-bottom: 20px;
  width: auto;
  grid-template-columns: repeat(auto-fit,minmax(450px,1fr()));
  border-radius: 10px;
}
